*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD5 20%
    );
}

#app{
    display: flex;
    height: 90%;
    width: 70%;
    background-color: white;
}

.bar-user{
    
    height: 100%;
    width: 30%;
    background-color: white;
}
   

.bar-chat{
    background-image: url(../img/mine.jpg);
    height: 100%;
    width: 70%;
}

.bar-text{
    height: 100%;
    
}
 
.text{
   
    border: none;
    border-radius: 1rem;
    width: 800px;
    height: 40px;
    margin-left: 1rem;
    margin-bottom: 4.5rem;
}

.emoticon{
    
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 4.6rem;
 
}

.color-bar-text{
    display: flex;
    align-items: end;
    height: 60px;
    height: 100%;
}
.emoticon-2{
   font-size: 1.5rem;
   margin-left: 1rem;
   margin-bottom: 4.6rem;
    
}

.user{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #EAEAEA;
    
}

 .nav-bar{
    background-color: #EAEAEA;
   height: 70px;
} 

.img-size{
    height: 100%;
    width: 30%;
}

.img{
    height: 100%;
    border-radius: 3rem;
}

.icon{
    margin-right: 2rem;
    padding-inline: 1rem;
}


.icon1, .icon2, .icon3{
    margin-top: .5rem;
   padding-inline: .5rem;
}

.bar-notifications{
   
    height: 70px;
    width: 100%;
    background-color: aqua;
}

.icon-bell{
    margin-top: 1rem;
    font-size: 2rem;
}

span{
    margin-left: 1rem;
}

.link{
    margin-left: 3.5rem;
}

input{
    width: 100%;
    border: 1 px solid grey;
   
}

.img-profile{
    height: 100%;
    width: 60px;
    margin-bottom: 1rem;
    border-radius: 3rem;
}

.friends{
    overflow-y: scroll;
}