*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD5 20%
    );
}

#app{
    display: flex;
    height: 90%;
    width: 70%;
    background-color: white;
}

.bar-user{
    
    height: 100%;
    width: 30%;
    background-color: white;
}
   

.bar-chat{
    background-image: url(../img/mine.jpg);
    height: 80%;
    width: 70%;
}

.bar-text{
   display: flex;
   flex-direction: column;
    
}
 
.text{
   
    border: none;
    border-radius: 1rem;
    width: 800px;
    height: 40px;
    margin-left: 1rem;
    
}

.emoticon{
    
    font-size: 1.5rem;
    margin-left: 1.5rem;
   
 
}

.color-bar-text{
  display: flex;
 
  
    
}
.emoticon-2{
   font-size: 1.5rem;
   margin-left: 1rem;
   
    
}

.user{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #EAEAEA;
    
}

 .nav-bar{
    background-color: #EAEAEA;
   height: 70px;
} 

.img-size{
    height: 100%;
    width: 30%;
}

.img{
    height: 100%;
    border-radius: 3rem;
}

.icon{
    margin-right: 2rem;
    padding-inline: 1rem;
}


.icon1, .icon2, .icon3{
    margin-top: .5rem;
   padding-inline: .5rem;
}

.bar-notifications{
   
    height: 70px;
    width: 100%;
    background-color:rgb(142, 218, 252);
}

.icon-bell{
    margin-top: 1rem;
    font-size: 2rem;
}

span{
    margin-left: 1rem;
}

.link{
    margin-left: 3.5rem;
}

input{
    width: 100%;
    border: 1 px solid grey;
   
}

.img-profile{
    height: 100%;
    width: 60px;
    margin-bottom: 3rem;
    border-radius: 3rem;
}

.scroll{
    overflow-y: scroll;
    height: 81%;
    
}

.date{
    font-size: 1rem;
    position: relative;
    bottom: 35px;
}

.messages{
    display: flex;
    justify-content: space-around;
}

.ms-utent{
    height: 50px;
    width: 250px;
    background-color: white;
    margin-top: 20rem;
    border-radius: 1rem;
   
}

.ms-user{
    background-color: rgb(213, 249, 186);
    height: 50px;
    width: 250px;
    margin-top: 3rem;
    border-radius: 1rem;
}


.ms-user1{
    background-color: rgb(213, 249, 186);
    height: 50px;
    width: 250px;
    margin-top: 10rem;
    border-radius: 1rem;
}